body{
   overflow-x: hidden;
}
.klj{
  position: absolute;
  left: 1200px;
  top: 50px;
}
.search{
  position: absolute;
  top:40px;
  left: 100px;

}
.search input{
  width: 180px;
  height: 30px;
  border: none;
}
nav {
  margin: 20px;
  position: absolute;
  top: 100px;
  left: 320px;

}
.loi button{
  border: 4px solid black;
  height: 35px;
  width: 120px;
  position: absolute;
  left: 600px;
  top: 40px;
  background-color: white;

}
nav a:hover{
color:  #4d114c;
}
.T{
  margin: 20px;
  text-decoration: none;
  color: black;
  }
  .sale img{
    width: 600px;
    height: 400px;
    position: absolute;
    top: 350px;
    left: 100px;
  }
  .sale h2{
    position: absolute;
    top: 480px;
    left: 930px;
    color: black;
  }
  .sale p{
    width: 400px;
    position: absolute;
    top: 550px;
    left: 860px;
  }
  .gf{
    width: 100%;
    height: 50px;
    background-color: #e1e5eb;
    position: absolute;
    top: 200px;
    justify-content: center;
  }
  .gf h2{
    position: absolute;
    top: -10px;
    left: 90px;
  }
  .gf a{
    text-decoration: none;
    color: black;
  }
  hr{
    position: relative;
   top: 90px;
  }
  .oo{
    width: 200px;
    position: absolute;
    top: 1050px;
    left: 200px;
  }
  .oo img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  .vi{
    width: 200px;
    position: absolute;
    top: 1050px;
    left: 470px;
  }
  .vi img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  .sa{
    width: 200px;
    position: absolute;
    top: 1050px;
    left: 750px;
  }
  .sa img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  .ali{
    width: 200px;
    position: absolute;
    top: 1050px;
    left: 1000px;
  }
  .ali img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  .ee h1{
    position: absolute;
    top: 900px;
    left: 600px;
  }
  .Ja{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 1550px;
  }
  .je{
    width: 300px;
    position: absolute;
    left: 70px;

  }
  .jo{
    width: 300px;
    position: absolute;
    left: 500px;

  }
  .jk{
    width: 300px;
    position: absolute;
    left: 970px;
    }
    .dh{
      position: absolute;
      top: 2000px;
      left: 100px;
    }
    .uu{
      position: absolute;
      top: 2050px;
      left: 330px;
    }
    .ou{
      position: absolute;
      top: 2050px;
      left: 560px;
    }
    .ouo img{
      width: 200px;
      height: 100px;
      position: absolute;
      top: 2080px;
      left: 760px;
    }
    .ouo h2{
      position: absolute;
      top: 2000px;
      left: 760px;
    }
    .ouo h4{
      position: absolute;
      top: 2200px;
      left: 760px;
    }
    .ouo p{
      position: absolute;
      top: 2230px;
      left: 760px;
    }
    .oou{
      position: absolute;
      top: 2000px;
      left: 1060px;
    }
    .bbg input{
      position: absolute;
      top: 2250px;
      left: 1060px;
      height: 30px;
    }
    .bbg h2{
      position: absolute;
      top: 2180px;
      left: 1060px;

    }
    .bbg button{
      position: absolute;
      top: 2250px;
      left: 1236px;
      height: 35px;
      width: 70px;
      background-color: #bb42e3; color: white;
      border-color: #bb42e3;
      border-radius: 5px;
    }
    hr{
    position: relative;
     top: 1960px;
    }
    .bbn{
      position: relative;
       top: 40px;
    }
    .hnh{
      position: relative;
       top: 970px;

    }
    .plo{
      margin-bottom: 30px;

    }
    .plo p{
      position: absolute;
      top: 2350px;
      left: 450px;
    }
.kk{
  position: relative;
  top: 850px;

}
.jj{
  position: relative;
  top: 1500px;

}
