body{
   overflow-x: hidden;
}
nav {
  margin: 20px;
  position: absolute;
  top: 100px;
  left: 320px;
}
.search{
  position: absolute;
  top:40px;
  left: 100px;

}
.search input{
  width: 180px;
  height: 30px;
  border: none;
}
.loi button{
  border: 4px solid black;
  height: 35px;
  width: 120px;
  position: absolute;
  left: 600px;
  top: 40px;
  background-color: white;

}
nav a:hover{
color:  #4d114c;
}
.T{
  margin: 20px;
  text-decoration: none;
  color: black;
}
  .gf{
    width: 100%;
    height: 50px;
    background-color: #e1e5eb;
    position: absolute;
    top: 200px;
    justify-content: center;
  }
  .gf h2{
    position: absolute;
    top: -10px;
    left: 90px;
  }
  .gf a{
    text-decoration: none;
    color: black;
  }
  tr img{
    width: 180px;
    height: 100px;

  }

table{
  position: absolute;
  top: 400px;
  left: 120px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.nnz{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 700px;
  left: 100px;

}
.nnz button{
  width: 180px;
  height: 30px;
  margin: 30px;
  background-color: #4d114c;color: white;
  border: none;
  border-radius: 5px;
}
.nnz button:hover{
  background-color: #4d114c;
  transform: translate(-1px,-1px);
}
td button{
  width: 30px;
  height: 30px;
  background-color: #4d114c;color: white;
  border: none;
  border-radius: 5px;
  position: absolute;
  left: 1000px;
}
td button:hover{
  background-color: #4d114c;
  transform: translate(-1px,-1px);
}
.total h1{
  position: absolute;
  top: 700px;
  left: 1150px;
}
.hjh{
  position: absolute;
  top:750px;
  left: 1100px;
}
.hjj{
  position: absolute;
  top:800px;
  left: 1100px;
}
.hhj{
  position: absolute;
  top:750px;
  left: 1250px;
}
.hhjj{
  position: absolute;
  top:800px;
  left: 1250px;
}
.total button{
  width: 230px;
  height: 40px;
  position: absolute;
  top: 900px;
  left: 1100px;
  background-color: #4d114c;color: white;
  border: none;
  border-radius: 5px;
}
.mm h2{
  position: absolute;
  top: 800px;
  left: 130px;
}
.mm h5{
  position: absolute;
  top: 840px;
  left: 130px;
}
.mm input{
  width: 300px;
  height: 34px;
  position: absolute;
  top: 900px;
  left: 130px;
}
.mm button{
  width: 180px;
  height: 40px;
  position: absolute;
  top: 900px;
  left: 450px;
  background-color: #4d114c;color: white;
  border: none;
  border-radius: 5px;

}
.dh{
  position: absolute;
  top: 1100px;
  left: 100px;
}
.uu{
  position: absolute;
  top: 1150px;
  left: 330px;
}
.ou{
  position: absolute;
  top: 1150px;
  left: 560px;
}
.ouo img{
  width: 200px;
  height: 100px;
  position: absolute;
  top: 1180px;
  left: 760px;
}
.ouo h2{
  position: absolute;
  top: 1100px;
  left: 760px;
}
.ouo h4{
  position: absolute;
  top: 1300px;
  left: 760px;
}
.ouo p{
  position: absolute;
  top: 1330px;
  left: 760px;
}
.oou{
  position: absolute;
  top: 1100px;
  left: 1060px;
}
.bbg input{
  position: absolute;
  top: 1350px;
  left: 1060px;
  height: 30px;
}
.bbg h2{
  position: absolute;
  top: 1280px;
  left: 1060px;

}
.bbg button{
  position: absolute;
  top: 1350px;
  left: 1236px;
  height: 35px;
  width: 70px;
  background-color: #bb42e3; color: white;
  border-color: #bb42e3;
  border-radius: 5px;
}
hr{
position: relative;
 top: 1060px;
}
.bbn{
  position: relative;
   top: 40px;
}
.hnh{
  position: relative;
   top: 970px;

}
.plo{
  margin-bottom: 30px;

}
.plo p{
  position: absolute;
  top: 1450px;
  left: 450px;
}
button .aha{
  width: 100px;
  height: 30px;

}
.total button:hover{
  background-color: #4d114c;
  transform: translate(-1px,-1px);
  }
  .mm button:hover{
    background-color: #4d114c;
    transform: translate(-1px,-1px);
    }
    .bbg button:hover{
      background-color: #4d114c;
      transform: translate(-1px,-1px);
    }
